body {
    background-color: #e8e2d7;
    padding-top: 80px; /* Add padding to the top of the body content to prevent it from being hidden under the header */
}

:target {
    padding-top: 100px; /* Height of the navbar plus some extra space */
    margin-top: -100px; /* Negative margin to pull the section up */
    display: block; /* To ensure the :target pseudo-class can apply these styles */
  }

/* .dark {
    background-color: #333;
    color: #CCC;
    padding: 2rem ;
    margin: 2rem;
}

.light {
    background-color: #CCC;
    color: #333;
    padding: 2rem ;
    margin: 2rem;
} */

