.mainAboutUsDiv {
    margin: 1rem;
    padding: 1rem;
}

.aboutUsHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    font-size: 3rem;
    text-align: center; /* Center the text within the heading */
}

.aboutUsDetails {
    /* border-radius: 1rem;
    box-shadow: 10px 10px 8px #888888;
    border: #c1c1c1 solid 1px;;
    line-height: 1.5;
    padding: 1rem; */
    max-width: 800px; /* Set a maximum width for the box */
    width: 100%; /* Allow the width to adjust based on content */
    border-radius: 1rem;
    box-shadow: 10px 10px 8px #888888;
    border: #c1c1c1 solid 1px;
    line-height: 1.5;
    padding: 1rem;
    min-height: 300px; /* Set a minimum height to allow vertical expansion */
    margin: 0 auto; /* Center the box horizontally */
}